.custom-card {
	border-radius: 8px;
	border-style: none;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.info-button {
	padding-left: 0;
	text-decoration: none;
}

.card-image {
	padding: 12px;
}