.authentication-form {
background-color: #e9ab60;
padding: 40px;
border-radius: 8px;
border-color: black;
}

.form-group {
	padding-top: 16px;
}

.submit-button {
	margin-top: 32px;
}

.form-title {
	text-align: center;
}

.link {
	color: #d52418 !important;
}

.title{
	padding-bottom: 50px;
	text-align: center;
}