.authentication-form {
background-color: #d7d8d8;
padding: 40px;
border-radius: 8px;
border-color: black;
}

.form-group {
	padding-top: 16px;
}

.submit-button {
	margin-top: 32px;
}

.form-title {
	text-align: center;
}