$primary: #e9ab60;
$secondary: #80c6c7;
$danger: #d52418;
$font-family-base: 'Courier Prime', monospace;


// $btn-font-family: 'Roboto', sans-serif;

//#f5ecdb light bg
//#80c6c7 - blue FD

// @import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');




@import '~bootstrap/scss/bootstrap.scss';